<div class="container">
<h1>PAÍSES</h1>

<form action="/pais/c">
	<input type="submit" value="Nuevo País"/>
</form>
<br/>
<h3>Lista de países</h3>

<table class="table table-striped">
	<tr>
		<th>
			Nombre
		</th>
		<th>
			Acciones
		</th>
	</tr>
	
	<tr th:each="pais:${paises}">
		<td th:text="${pais.nombre}"/>
		<td>
			<form action="/pais/u">
				<button>
					<img src="/img/lapiz.png" width="20" height="20"/>
				</button>
				<input type="hidden" name="idPais" th:value="${pais.id}"/>
			</form>
		</td>
	</tr>
</table>



</h2>

<br/>
</div>