<div class="container">
<h1>AFICIONES</h1>

<form action="/asignatura/c">
	<input type="submit" value="Nueva Asignatura"/>
</form>
<form action="/">
	<input type="submit" value="Volver"/>
</form>
<br/>
<h3>Lista de Asignaturas</h3>

<table class="table table-striped">
	<tr>
		<th>
			Nombre
		</th>
		<th>
			Acciones
		</th>
	</tr>
	
	<tr th:each="asignatura:${asignaturas}">
		<td th:text="${asignatura.nombre}"/>
		<td class="row">
			<form action="/asignatura/u">
				<button>
					<img src="/img/lapiz.png" width="20" height="20"/>
				</button>
				<input type="hidden" name="idAsignatura" th:value="${asignatura.id}"/>
			</form>
			<form action="/asignatura/d">
				<button>
					<img src="/img/basura.png" width="20" height="20"/>
				</button>
				<input type="hidden" name="idAsignatura" th:value="${asignatura.id}"/>
			</form>
		</td>
	</tr>
</table>



</h2>

<br/>
</div>