<div class="container">

<img src="/img/clase.jpg" height="100" width="150"/>

<h3>Gestión de notas</h3>
<div class="row">
<form action="/asignatura/r">
	<button>
		<input type="submit" value="Asignatura"/>
	</button>
</form>
<br/>
<form action="/profesor/r">
	<button>
		<input type="submit" value="Profesor"/>
	</button>
</form>
<br/>
<form action="/alumno/r">
	<button>
		<input type="submit" value="Alumno"/>
	</button>
</form>
<form action="/nota/r">
	<button>
		<input type="submit" value="Nota"/>
	</button>
</form>
</div>
<br/>
</div>