<div class="container">
<h1>PERSONAS</h1>

<form action="/persona/c">
	<input type="submit" value="Nueva Persona"/>
</form>
<br/>
<h3>Lista de personas</h3>

<table class="table table-striped">
	<tr>
		<th>
			Nombre
		</th>
	
	
		<th>
			País de nacimiento
		</th>
		<th>
			Edad
		</th>
		<th>
			Aficiones (gusta)
		</th>
		<th>
			Acciones
		</th>
	</tr>
	
	<tr th:each="persona:${personas}">
		<td th:text="${persona.nombre}"/>
		<td th:text="|${persona.nace.nombre} (${persona.nace.nativos.size()})|"/>
		<td th:text="${persona.getEdad()}"/>
		<td>
			<th:block th:each="aficion : ${persona.aficionesGusta}" th:text="|${aficion.nombre} / |"/>
		</td>
		
		<td>
			<form action="/persona/u">
				<button>
					<img src="/img/lapiz.png" width="20" height="20"/>
				</button>
				<input type="hidden" name="idPersona" th:value="${persona.id}"/>
			</form>
		</td>
	</tr>
</table>



</h2>

<br/>
</div>